


<div class="row" style="padding-top:20px;">
  
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
          用户列表
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
                <tr>
                  <th>ID</th>
                  <th>登录名</th>
                  <th>状态</th>
                  <th>上级</th>
                  <th>下级账号数</th>
                  <th colspan="3"></th>
                </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td><%= user.id %></td>
                  <td><%= user.login %></td>
                  <td><%= user.state_to_s %></td>
                  <td><%= user.parent.try(:login)%></td>
                  <td><%= user.children.count%></td>
                  <td><%= link_to '显示', user %></td>
                  <td><%= link_to '编辑', edit_user_path(user) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<%=will_paginate @users,renderer: BootstrapPagination::Rails%>