<div class="row" style="padding-top:20px;">
  <div class="col-lg-12">
    <div class="page-header">
      
     
    </div>

    <dl class="dl-horizontal">
      <dt>ID:</dt>
      <dd><%= @user.id %></dd>
      <dt>登录名:</dt>
      <dd><%= @user.login %></dd>
      <dt>状态:</dt>
      <dd><%= @user.state_to_s %></dd>
      
      <dt>接口秘钥，请妥善保管:</dt>
      <dd><%= @user.secret %></dd>
      <%if @user.root?%>
        <dt>下级账号数:</dt>
        <dd><%= @user.children.count %></dd>
        <dt>邀请注册链接:</dt>
        <dd><%= "http://zzz?user_id=#{@user.id}" %></dd>
      <%else%>
        <dt>上级:</dt>
        <dd><%= @user.parent.try(:login) %></dd>
      <%end%>
    </dl>
  </div>
</div>