<div class="row" style="padding-top:20px;">
  <div class="col-lg-12">
    <div class="page-header">
      <%= link_to users_path, class: 'btn btn-default' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Back
      <% end %>
      <%= link_to edit_user_path(@user), class: 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        Edit
      <% end %>
     
    </div>

    <dl class="dl-horizontal">
     
      <dt>登录名:</dt>
      <dd><%= @user.login %></dd>
      <dt>状态:</dt>
      <dd><%= @user.state %></dd>
      <dt>是否是管理员:</dt>
      <dd><%= @user.is_admin %></dd>



    </dl>
  </div>
</div>