<%= simple_form_for(@account) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :login %>
    <%= f.input :password,:as=>:string%>
    <%= f.input :mail %>
    <%= f.input :mailpassword,:as=>:string %>
    <%= f.input :ask1 %>
    <%= f.input :answer1 %>
    <%= f.input :ask2 %>
    <%= f.input :answer2 %>
    <%= f.input :ask3 %>
    <%= f.input :answer3 %>
    <%= f.input :firstname %>
    <%= f.input :lastname %>
    <%= f.input :birthday %>
    <%= f.input :country,:as=>:string %>
    <%= f.input :state %>
    <%= f.input :user_id%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
