<p id="notice"><%= notice %></p>

<h1>Accounts</h1>

<table>
  <thead>
    <tr>
      <th>Login</th>
      <th>Password</th>
      <th>Mail</th>
      <th>Mailpassword</th>
      <th>Ask1</th>
      <th>Answer1</th>
      <th>Ask2</th>
      <th>Answer2</th>
      <th>Ask3</th>
      <th>Answer3</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Birthday</th>
      <th>Country</th>
      <th>State</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.login %></td>
        <td><%= account.password %></td>
        <td><%= account.mail %></td>
        <td><%= account.mailpassword %></td>
        <td><%= account.ask1 %></td>
        <td><%= account.answer1 %></td>
        <td><%= account.ask2 %></td>
        <td><%= account.answer2 %></td>
        <td><%= account.ask3 %></td>
        <td><%= account.answer3 %></td>
        <td><%= account.firstname %></td>
        <td><%= account.lastname %></td>
        <td><%= account.birthday %></td>
        <td><%= account.country %></td>
        <td><%= account.state %></td>
        <td><%= account.user_id %></td>
        <td><%= link_to 'Show', account %></td>
        <td><%= link_to 'Edit', edit_account_path(account) %></td>
        <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account', new_account_path %>
