<%= simple_form_for(@account) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :login,:readonly=>true %>
    <%= f.input :password ,:as=>:string,:readonly=>true %>
    <%= f.input :mail ,:readonly=>true %>
    <%= f.input :mailpassword ,:readonly=>true %>
    <%= f.input :ask1 ,:readonly=>true %>
    <%= f.input :answer1 ,:readonly=>true %>
    <%= f.input :ask2 ,:readonly=>true %>
    <%= f.input :answer2 ,:readonly=>true %>
    <%= f.input :ask3 ,:readonly=>true %>
    <%= f.input :answer3 ,:readonly=>true %>
    <%= f.input :firstname ,:readonly=>true %>
    <%= f.input :lastname ,:readonly=>true %>
    <%= f.input :birthday ,:readonly=>true %>
    <%= f.input :country,:as=>:string ,:readonly=>true %>
    <%= f.input :state ,:readonly=>true %>
    <%= f.input :user_id ,:readonly=>true %>
  </div>

  
<% end %>
